body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #FFFFFF;
    width: 360px;
    height: 381px;
    padding: 25px;
    gap: 21px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.1);
}

.security {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
}

.security img {
    width: 45.64px;
    height: 50.72px;
}

.card-title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.card-sub {

    width: 225px;
    height: 48px;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.5px;
    text-align: center;
    margin-top: 10px;
    color:#000000;
}

.btn-keeper {
    margin-top: auto;
    width: 132px;
    height: 39px;
    border-radius: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 12px 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
